.css-1869usk-MuiFormControl-root {
    min-width: 382px !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    text-overflow: ellipsis;
    font-size: 13px !important;
    white-space: normal !important;
}

.css-1in441m {
    width: 32% !important;
}

/* ccs que controla es aspecto del contenido del select */
.css-1kgz8o4-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 14px !important;
}

.css-b7ejb2-MuiFormControl-root {
    margin: 15px !important;
}

.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root {
    border-radius: 0% !important;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    min-width: 340px !important;
}